/*
 *
 * Mixins
 * ================================================
 * All the mixins for clearfixes, text removal,
 * gradients and some other minor stuff
 *
 */

.clearfix() {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-hide(@hideText: true) when (@hideText = true) {
  font: ~"0/0" 'Open Sans', Helvetica, Arial, sans-serif;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.horgrad(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
  background-image: -webkit-linear-gradient(left, @start-color @start-percent, @end-color @end-percent);
  background-image: -o-linear-gradient(left, @start-color @start-percent, @end-color @end-percent);
  background-image: linear-gradient(to right, @start-color @start-percent, @end-color @end-percent);
  background-repeat: repeat-x;

}

.vertgrad(@start-color: #555; @end-color: #333; @start-percent: 0%; @end-percent: 100%) {
  background-image: -webkit-linear-gradient(top, @start-color @start-percent, @end-color @end-percent);
  background-image: -o-linear-gradient(top, @start-color @start-percent, @end-color @end-percent);
  background-image: linear-gradient(to bottom, @start-color @start-percent, @end-color @end-percent);
  background-repeat: repeat-x;

}

.transition(@transition: all .18s ease-in-out) {
  -webkit-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

.transform(@transform) {
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  transform: @transform;
}

.border-radius(@value: 20px, @flag: true) when (@flag = true) {
    border-radius: @value;
}
.icon-base(@position: relative, @hideText: true, @border-radius: true, @background-posXhoriz: 0, @color: #ffffff) {
    position: @position;
    width: 40px;
    height: 40px;
    .text-hide(@hideText);
    .border-radius(20px, @border-radius);
    background: @color url(../Images/controlIcons.svg) no-repeat @background-posXhoriz 0;
    background-size: auto 120px;
}
